.card {
  width: 150px;
  background-color: aliceblue;
  padding: 10px;
  white-space: wrap;
  overflow-wrap: break-word;
  word-break: break-word;

  .imageContainer {
    position: relative;

    > span {
      position: unset !important;
    }

    .image {
      position: relative !important;
      width: 100% !important;
      height: unset !important;
    }
  }

  .title {
    color: #333;
    font-size: 10px;
    margin-bottom: 2px;
  }

  .content {
    color: #555;
    font-size: 10px;
    margin-bottom: 5px;
  }

  .link {
    color: #007bff;
    font-size: 10px;
    display: inline-block;
  }
}
